<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
        <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="error-template">
                            <h1>Error 404</h1>
                            <div>
                                <p>The page you are looking for, does not exists. Please return to the home page and start to annotate videos.</p>
                            </div>
                            <div class="error-actions">
                                <a href="{{ url_for('home') }}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                                    Back Home </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</body>

</html>