{% extends "layouts.html" %}
{% block heading %}

<div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('profile') }}" >{{nickname}}</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('__update__')}}"> Annotate</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('logout')}}" >Logout</a></li>
                </ul>

{% endblock %}
{% block content %}
<h2>Annotating Video</h2>
<h4>Video <strong>Category</strong>: {{category}}</h4>
<h4>Video <strong>Name</strong> {{video_name}}</h4>
<div class="container">
    <div class="row" >
        <div classs="col">
            <video id="video" width="640" height="480" controls>
                <source src={{ url_for("static", filename=filename) }} type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

    </div>

    <div class="row">
        <div class="col col-lg-3">
            <label for="fname">Starting Point:</label>
        </div>
        <div class="col col-lg-3">
            <label for="fname">Ending Point:</label>
        </div>

    </div>
    <div class="row">
        <div class="col col-lg-1">
            <label for="fname">Minute</label>
        </div>
        <div class="col col-lg-2">
            <label for="fname">Seconds</label>
        </div>
        <div class="col col-lg-1">
            <label for="fname">Minute</label>
        </div>
        <div class="col col-lg-2">
            <label for="fname">Seconds</label>
        </div>
    </div>

        <div class="row">
                <div class="col col-lg-3">
                    <!-- <label for="fname">Minute:</label> -->
                    <input type="number" id="start-minute" class="start-minute" min="0" max="60" size="6">
                    <label for="fname"><strong>:</strong></label>
                    <input type="number" id="start-second" class="start-second" min="0" max="60" size="6">
                </div>
                <div class="col col-lg-3">
                    <!-- <label for="fname">Minute:</label> -->
                    <input type="number" id="end-minute" class="end-minute" min="0" max="60" size="6">
                    <label for="fname"><strong>:</strong></label>
                    <input type="number" id="end-second" class="end-second" min="0" max="60"size="6">
                </div>
                <div class="col col-lg-1">
                    <button class='addButton' >Add</button>
                </div>
                <div class="col col-lg-2">
                    <span><strong>Previous Highlights</strong></span>
                    <p id="current_annotated"></p>
                </div>
                <form method="post" action="/finish">
                    <div class="col col-lg-1">
                        <button type="submit" class="btn btn-primary">Finish Annotation</button>
                    </div>
                </form>

        </div>
    </div>
    <script type="text/javascript" src={{ url_for("static", filename="refresh.js") }} ></script>
{% endblock %}