<!DOCTYPE html>

<html>
<head>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
</head>
<body>
    <!-- Navbar  -->
    <header class="site-header">
        <nav class="navbar  navbar-dark bg-primary navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                {% block heading %} {% endblock %}
            </div>
        </nav>
    </header>
    <div class="container" style="margin-top:60px">
         {% block content %} {% endblock %}

    </div>
</body>
</html>