{% extends "layouts.html" %}
{% block heading %}
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('profile') }}" >{{nickname}}</a>
    </div>
    <ul class="nav navbar-nav">
        {% if num_videos > already_annotated %}
            <li><a href="{{ url_for('annotate')}}"> Annotate</a></li>
        {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('logout')}}" >Logout</a></li>
    </ul>
{% endblock %}
{% block content %}
        <h3>{{nickname }} welcome to the Video Annotator Tool.</h3>
        <br>
        <h2>Annotation Instructions</h2>
        <ol>
            <li>Select the Annotate option located at the top left of the menu bar,</li>
            <li>A random video will be displayed on your screen with the necessary 
                information (Video title and category), ready for annotation,</li>
            <li>In the input fields you put the minutes and seconds that you consider
                 a candidate for highlight,</li>
            <li>With the Add option the highlight is entered, while you can enter more at a later time,</li>
            <li>In the end you press the finish annotation button and start the process from the beginning.</li>
        </ol>
        <br> <br>
        <h4>Till now, {{ nickname }} you have annotate: {{already_annotated}}/{{num_videos}}  videos.</h4>
        <span>
            {% if num_videos == already_annotated %}
            <p>Thank you {{nickname}} for your time, you have contributed to the video annotation.</p>
            {% elif num_videos > already_annotated %}
            <p>Almost Done! Please continue.</p>
            <p>Go to the Annotate tab to start annotating videos.</p>
            <p>Have a nice annotation time {{nickname}}.</p>
            {% endif %}
        </span>


        {% if message %}

        {{ message }}
      {% endif %}
{% endblock %}